<div class="footer">
  <div class="thf-row">
    <div class="thf-md-6 thf-pl-sm-2 thf-pr-sm-2 thf-pl-3 thf-pr-3 thf-pb-1 thf-pt-1">
      <span class="thf-font-title">TOCAI</span>
      <br>
      <span class="thf-font-text-uppercase">a revolução musical</span>
    </div>

    <div class="thf-md-6 thf-pl-sm-2 thf-pr-sm-2 thf-pl-3 thf-pr-3 thf-pb-1 thf-pt-1">
      <h1 class="thf-font-subtitle thf-pt-2 thf-pt-sm-3">Estamos aqui para ajudar</h1>
      <div class="thf-md-12 thf-pt-3 thf-pl-0">
        <a [routerLink]="['/doubts']" class="thf-font-text-uppercase footer-item-link footer-link-color">
          dúvidas frequentes
          <span class="thf-icon thf-icon-arrow-right"></span>
        </a>
      </div>
      <div class="thf-md-12 thf-pt-3 thf-pl-0">
        <a [routerLink]="['/history']"  class="thf-font-text-uppercase footer-item-link footer-link-color">
          quem somos
          <span class="thf-icon thf-icon-arrow-right"></span>
        </a>
      </div>
    </div>   
  </div>

</div>