<thf-page-default
  t-title="Cadastre-se para novas oportunidades"
  [t-breadcrumb]="breadcrumb">
  
  <form #signupPartnersForm="ngForm">

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="name"
        [(ngModel)]="partnerPersonalData.name"
        t-clean
        t-icon="thf-icon-user"
        t-label="Nome"
        t-required>
      </thf-input>

      <thf-input
        class="thf-md-6"
        name="lastname"
        [(ngModel)]="partnerPersonalData.lastname"
        t-clean
        t-icon="thf-icon-user"
        t-label="Sobrenome"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row">
      <thf-email
        class="thf-md-6"
        name="email"
        [(ngModel)]="partnerPersonalData.email"
        t-clean
        t-label="Email"
        t-required>
      </thf-email>
  
      <thf-password
        class="thf-lg-6"
        name="password"
        [(ngModel)]="partnerPersonalData.password"
        t-clean
        t-label="Senha"
        t-required>
      </thf-password>
    </div>

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="telefone"
        [(ngModel)]="partnerPersonalData.telefone"
        t-clean
        t-icon="thf-icon-telephone"
        t-label="Telefone"
        t-mask="(99) 99999-9999"
        t-required>
      </thf-input>

      <thf-input
        class="thf-md-6"
        name="city"
        [(ngModel)]="partnerPersonalData.city"
        t-clean
        t-icon="thf-icon-world"
        t-label="Cidade"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="linkyoutube"
        [(ngModel)]="partnerPersonalData.linkyoutube"
        t-clean
        t-icon="thf-icon-last-page"
        t-label="Link youtube"
        t-required>
      </thf-input>

      <thf-input
        class="thf-md-6"
        name="linkspotify"
        [(ngModel)]="partnerPersonalData.linkspotify"
        t-clean
        t-icon="thf-icon-last-page"
        t-label="Link spotify"
        t-required>
      </thf-input>

    </div>

    <div class="thf-row">
      <thf-select
        name="travel"
        [(ngModel)]="partnerPersonalData.travel"
        class="thf-md-6"
        t-icon="thf-icon-change"
        t-label="Disponibilidade de viagem"
        [t-options]="[{label: 'Sim', value: '1'}, {label: 'Não', value: '2'}]">
      </thf-select>

      <thf-select
        class="thf-md-6"
        name="type"
        [(ngModel)]="partnerPersonalData.type"
        t-label="Tipo de apresentação"
        t-required
        [t-options]="[{label: 'Carreira solo', value: '1'}, {label: 'Dupla', value: '2'}, {label: 'Banda', value: '3'}]">
      </thf-select>
    </div>

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="musicalstyle"
        [(ngModel)]="partnerPersonalData.musicalstyle"
        t-clean
        t-label="Estilo musical"
        t-placeholder="Ex: sertanejo"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row thf-pt-3">
      <thf-button
        class="thf-md-4"
        t-label="Confirmar"
        t-type="primary"
        [t-disabled]="signupPartnersForm.invalid"
        (t-click)="signupPartners();">
      </thf-button>
    </div>

  </form>

</thf-page-default>
