<thf-page-default t-title="" [t-breadcrumb]="breadcrumb">

  <div class="thf-row">
    <div class="name-default container thf-md-12">
      <div class="thf-font-display thf-mt-5">Jorge e Mateus oficial</div>
      <div class="thf-font-text-subtitle">Entre em contato e aproveite este talento</div>
    </div>
  </div>

  <div class="thf-row">
    <thf-widget 
      class="thf-mt-2 thf-md-12">

      <div class="container thf-md-12">

        <div class="thf-font-title thf-mt-4 thf-mt-4">PERFIL MUSICAL</div>
        <div class="thf-font-text-uppercase">Sertanejo</div>

        <div class="thf-font-title thf-mt-4">CANAL NO YOUTUBE</div>
        <div class="thf-font-text-large-bold color-link">
          <a href="https://www.youtube.com/watch?v=fggtYUdTMWk">
            https://www.youtube.com/watch?v=fggtYUdTMWk
          </a>
        </div>

        <div class="thf-font-title thf-mt-4">SPOTIFY</div>
        <div class="thf-font-text-large-bold color-link thf-mb-4">
          <a href="https://www.youtube.com/watch?v=fggtYUdTMWk">
            https://www.youtube.com/watch?v=fggtYUdTMWk
          </a>
        </div>

        <div class="thf-font-title thf-mt-4">CONTATOS</div>
        <div class="thf-font-text-uppercase">Telefone: (11) 96345-7288</div>
        <div class="thf-font-text-uppercase thf-mb-2">E-mail: 
          <a class="color-link" href="mailto:jm.oficial@gmail.com">jm.oficial@gmail.com</a>
        </div>

      </div>

    </thf-widget>
  </div>
</thf-page-default>