<thf-page-default t-title="Encontre serviços musicais próximos a você">

  <div class="thf-row thf-mt-1">

    <thf-widget 
      class="thf-md-6 thf-sm-mb-2 thf-mb-2 thf-lg-mb-2"
      *ngFor="let item of musicalList; let i = index"
      t-primary-label="Contatar serviço"
      (t-primary-action)="contact(item.id);"
      [t-title]="item.name">

      <div class="thf-row">
        <div class="thf-md-5 thf-lg-4">
          <thf-avatar t-size="xl" t-src="assets/graphics/"></thf-avatar>
        </div>
        <div class="thf-md-7 thf-lg-8">
          <div class="thf-mb-2">
            <thf-info
              t-label="ESTILO MUSICAL"
              [t-value]="item.musicalStyle">
            </thf-info>
            <thf-tag [t-value]="getType(item.type)"></thf-tag>
          </div>
          <div class="thf-mb-2">
            <thf-info
              class="thf-mt-5"
              t-label="QUANTIDADE DE SHOWS"
              [t-value]="item.quantityShows">
            </thf-info>
          </div>
        </div>
      </div>

    </thf-widget>

  </div>
</thf-page-default>