<thf-page-default
  t-title="Cadastrar"
  [t-breadcrumb]="breadcrumb">

  <form #signupCustomersForm="ngForm">

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="name"
        [(ngModel)]="customerPersonalData.name"
        t-clean
        t-icon="thf-icon-user"
        t-label="Nome"
        t-required>
      </thf-input>

      <thf-input
        class="thf-md-6"
        name="lastname"
        [(ngModel)]="customerPersonalData.lastname"
        t-clean
        t-icon="thf-icon-user"
        t-label="Sobrenome"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row">
      <thf-email
        class="thf-md-6"
        name="email"
        [(ngModel)]="customerPersonalData.email"
        t-clean
        t-label="Email"
        t-required>
      </thf-email>
  
      <thf-input
        class="thf-md-6"
        name="telefone"
        [(ngModel)]="customerPersonalData.telefone"
        t-clean
        t-icon="thf-icon-telephone"
        t-label="Telefone"
        t-mask="(99) 99999-9999"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row">

      <thf-password
        class="thf-lg-6"
        name="password"
        [(ngModel)]="customerPersonalData.password"
        t-clean
        t-label="Senha"
        t-required>
      </thf-password>

      <thf-password
        class="thf-lg-6"
        name="confirmpassword"
        [(ngModel)]="customerPersonalData.confirmpassword"
        t-clean
        t-label="Confirmar senha"
        t-required>
      </thf-password>

    </div>

    <div class="thf-row">
      <thf-input
        class="thf-md-6"
        name="postalcode"
        [(ngModel)]="customerPersonalData.postalcode"
        t-clean
        t-icon="thf-icon-pin"
        t-label="CEP"
        t-required>
      </thf-input>

      <thf-input
        class="thf-md-6"
        name="city"
        [(ngModel)]="customerPersonalData.city"
        t-clean
        t-icon="thf-icon-company"
        t-label="Cidade"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row thf-pt-3">
      <thf-button
        class="thf-md-4"
        t-label="Confirmar"
        t-type="primary"
        [t-disabled]="signupCustomersForm.invalid"
        (t-click)="signupCustomers();">
      </thf-button>
    </div>

  </form>

</thf-page-default>
