<thf-page-default
  [t-breadcrumb]="breadcrumb">

  <div *ngIf="userType === '2'; else partners">

    <form #changePersonalData="ngForm" >

      <div class="thf-font-title thf-mb-2">Dados pessoais</div>

      <div class="thf-row">
        <thf-input
          class="thf-md-6"
          name="name"
          [(ngModel)]="customerPersonalData.name"
          t-clean
          t-icon="thf-icon-user"
          t-label="Nome"
          t-required>
        </thf-input>

        <thf-input
          class="thf-md-6"
          name="lastname"
          [(ngModel)]="customerPersonalData.lastname"
          t-clean
          t-icon="thf-icon-user"
          t-label="Sobrenome"
          t-required>
        </thf-input>
      </div>

      <div class="thf-row">
    
        <thf-input
          class="thf-md-6"
          name="telefone"
          [(ngModel)]="customerPersonalData.telefone"
          t-clean
          t-icon="thf-icon-telephone"
          t-label="Telefone"
          t-mask="(99) 99999-9999"
          t-required>
        </thf-input>

      </div>

      <div class="thf-row thf-pt-3">
        <thf-button
          class="thf-md-4"
          t-label="Salvar"
          t-type="primary"
          [t-disabled]="changePersonalData.invalid"
          (click)="changePersonalDataProfile('2');">
        </thf-button>
      </div>

    </form>
  </div>

  <ng-template #partners>
    <div>

      <div class="thf-font-title thf-mb-2 thf-mt-0">Altere seus dados e aumente a chance de receber contatos.</div>

      <form #signupPartnersForm="ngForm">

        <div class="thf-row">
          <thf-input
            class="thf-md-6"
            name="name"
            [(ngModel)]="partnerPersonalData.name"
            t-clean
            t-icon="thf-icon-user"
            t-label="Nome"
            t-required>
          </thf-input>
    
          <thf-input
            class="thf-md-6"
            name="lastname"
            [(ngModel)]="partnerPersonalData.lastname"
            t-clean
            t-icon="thf-icon-user"
            t-label="Sobrenome"
            t-required>
          </thf-input>
        </div>
    
        <div class="thf-row">
          <thf-input
            class="thf-md-6"
            name="telefone"
            [(ngModel)]="partnerPersonalData.telefone"
            t-clean
            t-icon="thf-icon-telephone"
            t-label="Telefone"
            t-mask="(99) 99999-9999"
            t-required>
          </thf-input>
    
          <thf-input
            class="thf-md-6"
            name="city"
            [(ngModel)]="partnerPersonalData.city"
            t-clean
            t-icon="thf-icon-world"
            t-label="Cidade"
            t-required>
          </thf-input>
        </div>
    
        <div class="thf-row">
          <thf-input
            class="thf-md-6"
            name="linkyoutube"
            [(ngModel)]="partnerPersonalData.linkyoutube"
            t-clean
            t-icon="thf-icon-last-page"
            t-label="Link youtube"
            t-required>
          </thf-input>
    
          <thf-input
            class="thf-md-6"
            name="linkspotify"
            [(ngModel)]="partnerPersonalData.linkspotify"
            t-clean
            t-icon="thf-icon-last-page"
            t-label="Link spotify"
            t-required>
          </thf-input>
    
        </div>
    
        <div class="thf-row">
          <thf-select
            class="thf-md-6"
            name="travel"
            [(ngModel)]="partnerPersonalData.travel"
            t-icon="thf-icon-change"
            t-label="Disponibilidade de viagem"
            t-required
            [t-options]="[{label: 'Sim', value: '1'}, {label: 'Não', value: '2'}]">
          </thf-select>

          <thf-select
            class="thf-md-6"
            name="type"
            [(ngModel)]="partnerPersonalData.type"
            t-label="Tipo de apresentação"
            t-required
            [t-options]="[{label: 'Carreira solo', value: '1'}, {label: 'Dupla', value: '2'}, {label: 'Banda', value: '3'}]">
          </thf-select>
        </div>

        <div class="thf-row">
          <thf-input
            class="thf-md-6"
            name="musicalstyle"
            [(ngModel)]="partnerPersonalData.musicalstyle"
            t-clean
            t-label="Estilo musical"
            t-placeholder="Ex: sertanejo"
            t-required>
          </thf-input>
        </div>
    
        <div class="thf-row thf-pt-3">
          <thf-button
            class="thf-md-4"
            t-label="Confirmar"
            t-type="primary"
            [t-disabled]="signupPartnersForm.invalid"
            (click)="changePersonalDataProfile('1');">
          </thf-button>
        </div>
    
      </form>
    </div>
  </ng-template>

</thf-page-default>
