<thf-page-default
  t-title=""
  [t-breadcrumb]="breadcrumb">

  <form #signupCustomersForm="ngForm">

    <div class="thf-row">
      
      <thf-password
        class="thf-lg-6"
        name="password"
        [(ngModel)]="userData.password"
        t-clean
        t-label="Senha atual"
        t-required>
      </thf-password>

      <thf-password
        class="thf-lg-6"
        name="newpassword"
        [(ngModel)]="userData.newpassword"
        t-clean
        t-label="Nova senha"
        t-required>
      </thf-password>

      <thf-password
        class="thf-lg-6"
        name="confirmpassword"
        [(ngModel)]="userData.confirmpassword"
        t-clean
        t-label="Confirmar nova senha"
        t-required>
      </thf-password>

      <thf-email
        class="thf-lg-6"
        name="email"
        [(ngModel)]="userData.email"
        t-clean
        t-label="Email"
        t-required>
      </thf-email>
      
    </div>
    
    <div class="thf-row thf-pt-3">
      <thf-button
        class="thf-md-4"
        t-label="Confirmar"
        t-type="primary"
        [t-disabled]="signupCustomersForm.invalid"
        (t-click)="changePassword('1');">
      </thf-button>
    </div>
  </form>

</thf-page-default>>