<thf-page-default
  t-title=""
  [t-breadcrumb]="breadcrumb">

  <form #signupCustomersForm="ngForm">

    <div class="thf-row">
      
      <thf-password
        class="thf-lg-6"
        t-clean
        t-label="Senha atual"
        t-required>
      </thf-password>

      <thf-password
        class="thf-lg-6"
        t-clean
        t-label="Nova senha"
        t-required>
      </thf-password>

      <thf-password
        class="thf-lg-6"
        t-clean
        t-label="Confirmar nova senha"
        t-required>
      </thf-password>
      
    </div>
    
    <div class="thf-row thf-pt-3">
      <thf-button
        class="thf-md-4"
        t-label="Confirmar"
        t-type="primary"
        [t-disabled]="signupCustomersForm.invalid"
        (t-click)="mockCall();">
      </thf-button>
    </div>
  </form>

</thf-page-default>>